name: CI/CD

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:

  backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: |
          dotnet restore ProductApi/ProductApi.csproj
          dotnet restore ProductApi.Tests/ProductApi.Tests.csproj

      - name: Build
        run: |
          dotnet build ProductApi/ProductApi.csproj --configuration Release --no-restore
          dotnet build ProductApi.Tests/ProductApi.Tests.csproj --configuration Release --no-restore

      - name: Run unit tests
        run: dotnet test ProductApi.Tests/ProductApi.Tests.csproj --configuration Release --no-build --verbosity normal

      - name: Publish backend
        run: dotnet publish ProductApi/ProductApi.csproj --configuration Release --no-build --output ${{ github.workspace }}/backend_publish

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend
          path: ${{ github.workspace }}/backend_publish


  frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint

      - name: Run tests
        run: npm test -- --ci

      - name: Build
        run: npm run build

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend
          path: frontend/dist


  deploy:
    runs-on: ubuntu-latest
    needs: [backend]

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: backend
          path: backend_publish

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_ABB10DA40C0B440D835004BFB7955633 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_235F843EE30541C3A4CBD364B7ABD2EB }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_8CEB4AB9F7504B92931096E16E0C998A }}


      - name: Deploy Azure Function App
        uses: azure/functions-action@v1
        with:
          app-name: ${{ secrets.AZURE_FUNCTIONAPP_NAME }}
          slot-name: Production
          package: backend_publish
