name: CI/CD

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:

  backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: |
          dotnet restore ProductApi/ProductApi.csproj
          dotnet restore ProductApi.Tests/ProductApi.Tests.csproj

      - name: Build
        run: |
          dotnet build ProductApi/ProductApi.csproj --configuration Release --no-restore
          dotnet build ProductApi.Tests/ProductApi.Tests.csproj --configuration Release --no-restore

      - name: Run unit tests
        run: dotnet test ProductApi.Tests/ProductApi.Tests.csproj --configuration Release --no-build --verbosity normal  --results-directory ./TestResults --logger "xunit;LogFileName=TestResults.xml"

      - name: Upload unit test results
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-results
          path: ./TestResults/TestResults.xml

      - name: Publish backend
        run: dotnet publish ProductApi/ProductApi.csproj --configuration Release --no-build --output ${{ github.workspace }}/backend_publish

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend
          path: ${{ github.workspace }}/backend_publish


  frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint

      - name: Run tests
        run: npm test -- --ci

      - name: Build
        run: npm run build

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend
          path: frontend/dist


  deploy:
    runs-on: ubuntu-latest
    needs: [backend]
    # only run on push to main
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: backend
          path: backend_publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_B0469047B9344EF29715C9E64100C671 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4ACF8BAC97AA4CF39F88D0D0DB0D2D22 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D4437E063738454EB279D6248DA1B2E8 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'devops-web-app-backend'
          slot-name: 'Production'
          package: backend_publish
